.gv-chart{
  position:relative;
  height:1500px;
  width:100%;
  background-color: #FFF;

  @include mq(mobileLandscape){
    height: 1800px
  }

   @include mq(tablet){
    height: 1740px
  }

  svg{
    text{
    font-size: 12px;
    line-height: 16px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    fill: rgb(118,118,118);

    @include mq(tablet){
      font-size: 14px;
      line-height: 18px;
      font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    }
  }

  .name-txt{
    font-size: 10px;
    line-height: 12px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    fill: rgba($neutral-2,0.6);

     @include mq(mobileLandscape){
        font-size: 12px;
        line-height: 14px;
        
    }
  }
  }
}

.axis--x  {
  display: none;
}

.axis--y{
  text{
  }
  &.labels{

    &.right-side{
      display:none;
      @include mq(mobileLandscape){
        display:block;
      }
    }

    .domain{
      display:none;
    }

    .tick{
      text{
        @include mq(mobileLandscape){
          font-family: "Guardian Egyptian Web",Georgia,serif;
          font-size: 14px;
          line-height: 18px;
          fill:$neutral-2;
        }

        &.highlight{
          font-weight: 700;
          fill:$neutral-1;
        }
      }

      line{
         display:none;
      }
    }
  }

  &.blank{
    .tick{
      display:none;
    }
  }

  &.cabinet{
    .domain{
        display:none;
        @include mq(mobileLandscape){
            display:block;
        }
      }

    .tick{
      display:none;
    }
    .domain{
        stroke:#FFF;
      }
    &.cameron{
      .domain{
        display:none;
      }
    }
    text{
      @include mq(mobileLandscape){
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size: 14px;
        line-height: 18px;
        font-weight:700;
        fill:$neutral-1;
      }
    }
    
  }
}

.gv-line {
  fill: none;
  stroke: $gv-no-accent;
  stroke-width: 7px;
  opacity: 0.85;

  &.change{
    stroke: $gv-accent;
  }
}

.gv-graph-photo-circle{
  stroke: $gv-no-accent;
  stroke-width: 3.5px;
  cursor:pointer;
   &.change{
    stroke: $gv-accent;
  }
}

.gv-graph-name-label-bg{
   fill: none;

   @include mq(mobileLandscape){
        fill: none;
    }
  &.change{
    fill: none;

    @include mq(mobileLandscape){
        fill: none;
    }
  }
}



.background-rect{
  fill:#FFF;
  &.even{

    fill:rgba($gv-no-accent,0.1);
   
      @include mq(mobileLandscape){

        
      }
    
  }
}

.gv-img-holder{
  height: 0;
}