.gv-chart{
  position:relative;
  height:1700px;
  width:300px;
  background-color: #FFF;

  @include mq(embedThreeEighty){
     width:380px;
  }

  @include mq(embedFiveEighty){
        width:580px;
        height: 1900px;
  }

  @include mq(embedSixTwenty){
       width:620px;
       height: 1900px;
  }

  @include mq(embedSevenEighty){
      width:780px;
      height: 2200px
  }

  @include mq(embedEightSixty){
      width:860px;
  }




  svg{
    text{
    font-size: 12px;
    line-height: 16px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    fill: rgb(118,118,118);

    @include mq(embedFiveEighty){
      font-size: 14px;
      line-height: 18px;

    }


  }

  .name-txt{
    font-size: 10px;
    line-height: 12px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    fill: rgba($neutral-2,0.6);

     @include mq(embedFiveEighty){
        font-size: 12px;
        line-height: 14px;

    }
  }
  }
}

.axis--x  {
  display: none;
}

.axis--y{
  text{
  }
  &.labels{
      display:block;
      @include mq(embedThreeEighty){
        display:none;
      }
    &.right-side{
      display:none;
      @include mq(embedThreeEighty){
        display:block;
      }
    }

    .domain{
      display:none;
    }

    .tick{
      text{
        @include mq(embedFiveEighty){
          font-family: "Guardian Egyptian Web",Georgia,serif;
          font-size: 14px;
          line-height: 18px;
          fill:$neutral-2;
        }

        @include mq(tablet){
          font-size: 16px;
          line-height: 20px;
        }

        &.highlight{
          font-weight: 700;
          fill:$neutral-2;
        }
      }

      line{
         display:none;
      }
    }
  }

  &.blank{
    .tick{
      display:none;
    }
  }

  &.cabinet{
    .domain{
        display:none;
        @include mq(embedThreeEighty){
            display:block;
        }
      }

    .tick{
      display:none;
    }
    .domain{
        stroke:#FFF;
      }
    &.cameron{
      .domain{
        display:none;
      }
    }
    text{
      @include mq(embedThreeEighty){
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size: 14px;
        line-height: 18px;
        font-weight:700;
        fill:$neutral-1;
      }
      @include mq(mobileLandscape){
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size: 16px;
        line-height: 24px;
        font-weight:700;
        fill:$neutral-1;
      }
    }

  }
}

.gv-line {
  fill: none;
  stroke: $gv-no-accent;
  stroke-width: 5px;
  opacity: 0.75;

  &.change{
    stroke: $gv-accent;
  }
}

.gv-graph-photo-circle{
  stroke: $gv-no-accent;
  stroke-width: 3.5px;
  cursor:pointer;
   &.change{
    stroke: $gv-accent;
  }
}

.gv-graph-name-label-bg{
   fill: none;

   @include mq(embedThreeEighty){
        fill: none;
    }
  &.change{
    fill: none;

    @include mq(embedThreeEighty){
        fill: none;
    }
  }
}



.background-rect{
  fill:#FFF;
  &.even{

    fill:rgba($gv-no-accent,0.1);

      @include mq(embedThreeEighty){


      }

  }
}

.gv-img-holder{
  height: 0;
}
