@import "mq";
@import "fonts";
$gv-accent: #4bc6df;
$gv-no-accent: #63717a;
$neutral-1: #333333; 
$neutral-2: #767676;
$neutral-3:#bdbdbd;
$neutral-6: #f6f6f6;
// Uncomment for embeds
@import "embed";
@import "chart";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

body{
  background:#FFF;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-bg-pic{
    width: 15;
    height: 15;

    @include mq(mobileLandscape){
      width:18;
      height:18
    }

    @include mq(tablet){
      width:30;
      height:30;
    }
}

.gv-chart-header{
  background:#FFF;
}

