@import "mq";
@import "fonts";
$gv-accent: #4bc6df;
$gv-no-accent: #63717a;
$neutral-1: #333333; 
$neutral-2: #767676;
$neutral-3: #bdbdbd;
$neutral-6: #f6f6f6;
// Uncomment for embeds
@import "embed";
@import "chart";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

body{
  background:#FFF;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-bg-pic{
    width: 15;
    height: 15;

    @include mq(mobileLandscape){
      width:18;
      height:18
    }

    @include mq(tablet){
      width:60;
      height:60;
    }
}

.gv-chart-header{
  background:#FFF;
    h1{
    padding: 0 0 28px;
    margin: 0;
    font-family: 'Guardian Egyptian Web', Georgia, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: $neutral-1;

    @include mq(mobileLandscape){
      padding: 0 0 3px;
    }
  }

}

.highlight{
  font-weight:500;
  fill: $neutral-2;
}

 .article-link {
    color: #197CAA;
    font-size: 12px;
    padding: 0;
    border-radius: 12px;
    display: block;
    line-height: 1em;
    vertical-align: top;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
}

.gv-bubbles-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background:rgba(255,255,255,0.5)
}

.gv-bubble-holder{
  position:absolute;
  width:100%;
  height: 500px;
  top: 0px;
  left:0px;
}

.gv-bubble{
  background-color:red;
  position:absolute;
  border-radius:300px;
  background-repeat:no-repeat;
  background-size:contain;
  border: 3px solid $gv-no-accent;
}

.gv-bubble-label{
    position:absolute;
    height:15px;
    width: 80px;
    left: -10px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    fill: $neutral-3;
}


