@import "mq";
@import "fonts";
$gv-blue: #4bc6df;
// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-chart{
	position:relative;
	height:1200px;
	width:100%;
}

.axis--x path {
  display: none;
}

.axis--y{
  .tick{
    // display:none;
  }
}

.gv-line {
  fill: none;
  stroke: $gv-blue;
  stroke-width: 7px;
  opacity: 0.5;
}



.gv-graph-photo-circle{
  stroke: $gv-blue;
  stroke-width: 2px;
}